---
import Base from "@/layouts/Base.astro";
import ImageMod from "@/components/ImageMod.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getPages, getPageBySlug, getAssetURL } from "@/lib/directus";
import { markdownify } from "@/lib/utils/textConverter";

// Generate Static Paths untuk SSG
export async function getStaticPaths() {
  const pages = await getPages();
  return pages.map((page) => ({
    params: { regular: page.slug },
    props: { page },
  }));
}

const { regular } = Astro.params;
let { page } = Astro.props;

// Fallback
if (!page) {
  page = await getPageBySlug(regular as string);
}

if (!page) {
  return Astro.redirect("/404");
}

const { title, meta_title, meta_description, image, content } = page;
const imageUrl = getAssetURL(image);
---

<Base
  title={title}
  meta_title={meta_title || title}
  description={meta_description}
  image={imageUrl}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          {
            imageUrl && (
              <div class="mb-10 text-center gsap-fade-up">
                <ImageMod
                  src={imageUrl}
                  height={500}
                  width={1000}
                  alt={title}
                  class="w-full rounded-xl shadow-md"
                  format="webp"
                />
              </div>
            )
          }
          <div class="content gsap-fade-up">
            <div set:html={markdownify(content, true)} />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
