---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";
import directus from '../lib/utils/directus';
import { readSingleton } from "@directus/sdk";

const global = await directus.request(readSingleton("global"));
const about = (await getEntry("about", "-index")) as CollectionEntry<"about">;
const { Content } = await render(about);
const { title, description, meta_title, image } = about.data;
---

<Base
  title={global.title}
  meta_title={global.meta_title}
  description={global.description}
  image={image}
>
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-7">
          {
            image && (
              <ImageMod
                class="mx-auto mb-6 rounded-lg"
                src={image}
                width={200}
                height={200}
                alt={title}
                format="webp"
              />
            )
          }
          <h2 set:html={global.title} class="h3 mb-6" />
          <div>
            <p set:html={markdownify(global.content)} />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>